apiVersion: v1
kind: ConfigMap
metadata:
  name: hello-message
  namespace: default
data:
  MESSAGE: "Hello world"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-deploy
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
      - name: hello-container
        image: nginx
        env:
        - name: MESSAGE
          valueFrom:
            configMapKeyRef:
              name: hello-message
              key: MESSAGE
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html
      volumes:
      - name: html
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: hello-service
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: hello
  ports:
  - port: 80
    targetPort: 80
